@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

     <div class="position-relative overflow-hidden text-bg-light min-vh-100 d-flex align-items-center justify-content-center"> 
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100"> 
                <div class="col-md-12 col-lg-10 col-xxl-10">
                    <div class="card mb-0">
                        <div class="card-body">
                            <h4 class="text-center">Use a local account to log in</h4>
                            <form id="account" method="post">
                                <div class="mb-3">
                                    <label asp-for="Input.Email" class="form-label">Email</label>
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com">
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="mb-4">
                                    <label asp-for="Input.Password" class="form-label">Password</label>
                                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password">
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <div class="form-check">
                                        <label asp-for="Input.RememberMe" class="form-label">
                                            <input class="form-check-input" asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                    <a class="text-primary fw-bold ms-2" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                </div>
                            <button id="login-submit" type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4">Log in</button>
                            <div class="d-flex align-items-center justify-content-center">
                                <p class="fs-4 mb-0 fw-bold">No account? No problem!</p>
                                <a class="text-primary fw-bold ms-2" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register here</a>
                            </div>
                            <div class="d-flex align-items-center justify-content-center">
                                <p class="fs-4 mb-0 fw-bold">Didn't receive the confirmation email?</p>
                                <a class="text-primary fw-bold ms-2" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
         </div>  
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
